@use '../../globalStyles/styles.scss';

.footer {
  background-color: rgb(40, 39, 39);
  color: white;
  @include styles.flexPosition;
  justify-content: space-between;
  height: 151px;
  margin-top: 30px;
  h2 {
    margin-left: 25px;
  }
  p {
    margin-right: 25px;
    font-style: italic;
  }
  a {
    text-decoration: none;
    color: white;
  }
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    padding-bottom: 20px;
    p {
      margin-right: 0;
    }
    h2 {
      margin-left: 0;
    }
  }
}
